<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="263723e3-41e4-46cb-bf61-7ae345fc4267" wadlVersion="http://wadl.dev.java.net/2009/02" name="DeleteUserByParameter" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="263723e3-41e4-46cb-bf61-7ae345fc4267fileName">DeleteUserByParameter</con:setting></con:settings><con:definitionCache type="TEXT" rootPart=""/><con:endpoints><con:endpoint>http://tekschool-test-env.herokuapp.com</con:endpoint></con:endpoints></con:interface>