<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="c45a30af-f223-47e4-afba-ae7d7cc8bd29" wadlVersion="http://wadl.dev.java.net/2009/02" name="GetUserByParameter" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="c45a30af-f223-47e4-afba-ae7d7cc8bd29fileName">GetUserByParameter</con:setting></con:settings><con:definitionCache type="TEXT" rootPart=""/><con:endpoints><con:endpoint>http://tekschool-test-env.herokuapp.com</con:endpoint></con:endpoints></con:interface>